/* -------------------PITCH.HTML STYLES----------------- */

body {
    overflow: hidden;
}

.pitch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 15% margins on the left and right */
    text-align: center;
}

.pitch-image {
    max-width: 70%;
    /* Ensure the image doesn't exceed container width */
    max-height: 500px;
    margin: 0% 20%;
    object-fit: cover;
    border-radius: 8px;
}

.pitch-info {
    text-align: center;
    margin-top: 20px;
}

.pitch-name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.pitch-location {
    font-size: 18px;
    color: #888;
    margin-bottom: 10px;
}

.pitch-price {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.pitch-dimensions,
.pitch-players,
.pitch-amenities {
    font-size: 16px;
    margin-bottom: 5px;
}

.view-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00A651;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.view-button:hover {
    background-color: #007E3E;
}

/* -------------------PITCH.HTML STYLES----------------- */