/* Reset default margin and padding for the body */
  /* Reset some default styles */
body,
ul {
    margin: 0;
    padding: 0;
}
/* Basic styling for the navigation bar */
.navbar {
    font-size: 130%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
/* Styling for the navigation links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 3%;
    text-decoration: none;
}
/* Styling for the dropdown */
.dropdown {
    float: left;
    overflow: hidden;
    
}
/* Styling for the dropdown button */
.dropdown .dropbtn {

    font-size: 25px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    padding: 14px 16px;
    margin: 0;
    
}
/* Styling for the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
/* Styling for the dropdown links */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
/* Change color on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* ---------------------------------------------------- */

/* Style for the centered div */
.centered-container {
    display: flex;
    justify-content: center;
    margin: 0 20%;
    /* Left and right margins */
}

/* Style for the pitch container */
.pitch-container {
    display: flex;
    flex-direction: column;
    /* Stack containers one below the other */
    align-items: center;
    /* Center containers horizontally */
    margin-top: 40px;
    width: 100%;
    /* Set full width of container */
}

/* Your existing styles */

/* Style for the pitch item */
.pitch-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Spacing between elements */
    width: 80%;
    /* Adjusted width */
    padding: 20px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    margin: 20px 0;
    /* Space between stacked containers */
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.pitch-item:hover {
    transform: scale(1.05);
    /* Slight scale on hover */
}

.pitch-item img {
    width: 100%;
    /* Adjusted image width */
    max-height: 120px;
    /* Adjusted image height */
    object-fit: cover;
    /* Maintain aspect ratio */
    margin-right: 10px;
    /* Add space between image and pitch details */
}

.pitch-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;
    /* Add space between image and pitch details */
}

.pitch-price {
    font-size: 18px;
    margin-bottom: 10px;
}

.pitch-info {
    flex-grow: 1;
    /* Expand to fill available space */
    margin-right: 20px;
    /* Add spacing between elements */
}

.pitch-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.pitch-location {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
}

.view-button {
    padding: 8px 16px;
    background-color: #00A651;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
    /* Add border-radius for a slightly rounder button */
    transition: background-color 0.3s ease;
    /* Smooth transition for hover effect */
}

.view-button:hover {
    background-color: #007E3E;
    /* Darker green on hover */
}

/* Add this new rule for the hover effect */
.pitch-item:hover img {
    transform: scale(1.0);
    transition: transform 0.3s ease;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    opacity: 0.2;
}

.weekly-schedule {
    display: flex;
    /* Ensure columns are displayed in a row */
}

.days-column {
    flex: 1;
    border: 1px solid #E0E0E0;
    padding: 10px;
    /* Adjust as needed */
}

.day-heading {
    font-weight: bold;
    margin-bottom: 10px;
}

.time-slot {
    padding: 5px 0;
    border-bottom: 1px solid #E0E0E0;
    /* Add a separator between time slots */
}

.available {
    color: #00A651;
}

.booked {
    color: #FF0000;
}

/* --------------LOGIN------------------------ */
form {
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr-alpha: #9c9c9c60;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 400px;
    margin: 10% auto 0 auto;
    padding: 50px;
    width: 100%;
    background-color: #333;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FF0000;
}

.form .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

form input[type="email"],
form input[type="username"],
form input[type="password"] {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
    color: #fff;
    /* Set the text color to white */
}

form input[type="email"]:focus,
form input[type="password"]:focus
form input[type="username"]:focus {
    outline: 2px solid var(--clr);
}

.label {
    align-self: flex-start;
    color: #fff;
    font-weight: 600;
}

form .submit {
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    border-radius: 3rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: .9rem;
}

form .submit:hover {
    background-color: var(--clr);
    color: var(--bg-dark);
}

.span {
    text-decoration: none;
    color: #fff;
}

.span a {
    color: #fff;
}
/* --------------LOGIN------------------------ */