{% extends 'base.html' %}
{% block title %}MatchApp{% endblock %}
{% block content %}
    <div class="centered-container">
        <div class="about-content">
            <h1>About Us</h1>
            <p>
                Welcome to Your 5-a-Side Match App! We're here to help you organize and manage your 5-a-side football matches with ease.
                Our platform provides you with a user-friendly interface to book pitches, manage schedules, and connect with fellow football enthusiasts.
                Whether you're a casual player or a serious competitor, our app is designed to cater to all your football needs.
            </p>
            <p>
                Our team is passionate about creating a seamless experience for football lovers. We understand the joy and camaraderie that come with the beautiful game, and we aim to enhance your playing experience.
                Feel free to explore our app, book your favorite pitches, and enjoy the thrill of 5-a-side football like never before.
            </p>
            <p>
                Thank you for choosing Your 5-a-Side Match App. We're excited to have you on board, and we look forward to being a part of your football journey!
            </p>
        </div>b
    </div>
{% endblock %}

