{% extends 'base.html' %}
{% block title %}MatchApp{% endblock %}
{% block content %}
    <div class="centered-container">
        <div class="support-content">
            <h1>Support</h1>
            <p>
                If you have any questions, concerns, or feedback regarding the Your 5-a-Side Match App, we're here to help!
                Our dedicated support team is available to assist you with any issues you may encounter while using our app.
            </p>
            <p>
                To get in touch with our support team, please email us at <a href="mailto:support@5asidematchapp.com">support@5asidematchapp.com</a>.
                We strive to respond to all inquiries promptly and provide you with the best possible assistance.
            </p>
            <p>
                Thank you for choosing Your 5-a-Side Match App. We value your feedback and are committed to ensuring your experience with our app is exceptional.
                If you have any suggestions for improvements or new features, please don't hesitate to reach out to us.
            </p>
        </div>
    </div>
{% endblock %}
